#items {
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: 0px;
    gap: 25px;
    padding: 0px;
    list-style: none;
}

#yellow {
    color: yellow;
}

#purple {
    color: #800080;
}