/* ESTILOS DEL BANNER */

#banner {
    display: flex;
    margin: 25px 100px;
    padding: 90px 80px;
    background: linear-gradient(135deg, #5961F9 0%, #ED80FD 100%);
    border-radius: 48px 48px 300px 48px;
}

h1 {
    margin: 0px;
    font-family: 'Jost';
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    line-height: 70px;
    letter-spacing: -4%;
}

#banner p {
    margin: 25px 0px;
    color: #fff;
}

.button--white {
    padding: 12px 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
}